body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(75, 69, 228), rgb(17,54,71));
}
.box{
    color: white;
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
}
fieldset{
    border: 3px solid rgb(42,69,228);
    border-radius: 15px;
}
legend{
    border:2px solid rgb(42,69,228);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(35,60,220);
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white ;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}