*{
    margin: 0;
    padding: 0;
    bottom: 0;

    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

main{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    background: rgb(33, 115, 170);
    background: linear-gradient(90deg, rgba(33,115,170) 30%, rgba(72,20,176,1) 89%);
}

#logo{
    width: 15rem;
    margin: 2rem;
    /* width: 30rem;
    margin-bottom: 4em; */
}

.title{
    align-items: center;
    text-align: center;
    /* margin-bottom: 2rem; */

    /* color: #fff; */
    font-weight: 300;
    font-size: 1.2rem;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 1rem;
    background-color: #fff;

    box-shadow: 4px 5px 9px;
    border-radius: 5px;
}

form{
    height: 33rem;
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 18px;
}

.inputBox{
    display: flex;
    flex-direction: column;

    margin: 0.5rem;
}

input{
    height: 1.8rem;    
}

select{
    height: 2rem;
}

option{
    font-size: 1rem;
}

.row-content{
   display: flex;
   flex-direction: row;
}

.grid-content{
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

#btn{
    margin-top: 3rem;
    height: 4rem;
    width: 12rem;

    font-size: 1.1rem;
    border: 1px black solid;
    border-radius: 5px;
    
    color: #fff;
    background: rgb(58,56,221);
    background: linear-gradient(90deg, rgba(58,56,221,1) 0%, rgba(72,20,176,1) 100%);
}

#btn:hover{
    color: #fff;
    background: rgb(69,60,58);  
    background: linear-gradient(90deg, rgba(69,60,58,1) 100%, rgba(72,20,176,1) 100%);
}