main {
  margin-top: 2px;
  margin-bottom: 20px;
}
/* Header */
#total-vagas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 70px;
  background: #f1f1f1;
  width: 100%;
}
#total-vagas h2 {
  font-size: 15pt;
  color: var(--cinzaFundo);
  font-weight: 600;
}
#total-vagas h2 span {
  color: var(--verdeFundo);
  font-weight: bold;
  font-size: 16pt;
}
/* Container Vagas e Filtro */
#container-vagas {
  margin-top: 50px;
  padding-left: 70px;
  display: flex;
}
/* Vagas */
.linhaVaga {
  width: 90%;
  height: 1px;
  background: rgb(204, 204, 204);
  margin: 15px 0;
}
#vagas {
  margin-left: 20px;
}
#vagas ul {
  margin-top: -12px;
  margin-bottom: 10px;
}
#vagas #proximaPag {
  margin: 20px;
  display: flex;
  justify-content: center;
}
#vagas #proximaPag a {
  font-family: Calibri;
  background: rgb(206, 205, 205);
  color: var(--cinzaFundo);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-style: italic;
  font-weight: 600;
}
#vagas #proximaPag a:hover {
  background: var(--cinzaFundo);
  color: rgb(206, 205, 205);
}
#vagas .vaga {
  display: flex;
}
#vagas .vaga .texto-vagas {
  margin: 10px;
}
#vagas ul li {
  margin-bottom: 20px;
}
#vagas .vaga .texto-vagas h3 {
  line-height: 0;
  margin: 4px 0 0 0;
  font-weight: 600;
}
#vagas .vaga .texto-vagas .vaga-info {
  display: flex;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}
#vagas .vaga .texto-vagas .vaga-info p {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.vaga-requisitos {
  margin-top: 10px;
}
#vagas .vaga .texto-vagas .vaga-info svg {
  margin-right: 2px;
  color: var(--verdeFundo);
}
span {
  font-weight: 600;
}

@media (max-width: 1170px) {
  #filtro {
    width: 35%;
  }
  #vagas {
    width: 75%;
    padding-right: 20px;
  }
  .vaga img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 880px) {
  #container-vagas {
    flex-direction: column;
    padding-left: 20px;
  }
  #filtro {
    width: 80%;
    margin: 0 auto;
  }
  #vagas {
    width: 80%;
    padding-right: 0;
    margin: 20px auto;
  }
  .botao-estilo {
    text-align: center;
  }
  #vagas .vaga .texto-vagas h3 {
    line-height: normal;
    position: relative;
    top: -15px;
  }
  #vagas .vaga .texto-vagas .vaga-info {
    margin-top: 0;
  }
}
@media (max-width: 620px) {
  #total-vagas {
    flex-wrap: nowrap;
  }
  #botaoAnuncio {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 5px;
  }
  #total-vagas a {
    margin-top: 5px;
  }
  #container-vagas {
    padding-left: 0;
  }
  #filtro,
  #vagas {
    width: 100%;
    padding: 20px;
  }
}
@media (max-width: 470px) {
  #total-vagas {
    flex-wrap: wrap;
  }
  #botaoAnuncio {
    width: auto;
  }
}
